<table>
<% @recipe_foods.each do |food| %>
  <tr class="table-column">
    <td> <%= food.food_name %> </td>
    <td> <%= food.food_price %> </td>
    <td> <%= food.food_quantity %> </td>
    <td> <%= food.total_amount %>  </td>
    
  </tr>
<%end%>
</table>