<div class="navbar">
  <div class="logo">
     <h1>Recipe App</h1>
  </div>
    <ul class="navlinks">
      <%= link_to 'Foods', foods_path, class:"navlink" %>
      <%= link_to 'Recipes', recipes_path, class:"navlink" %>
    </ul>
</div>