<article class="recipe-container f c">
  <div class="recipe-info f c">
    <a class="f c"> 
      <h3 class="post-title"><%= recipe.name %></h3>
      <p class="post-text"><%= recipe.description %></p>
    </a>
  </div>
</article>