<div class="container">
<div class="btn_container"> <button class="btn food-btn">Add Food</button> </div>

<div class="table">
<table>
<tr class="table-column-1">
<th>Food</th>
<th>Measurement Unit</th>
<th>Unit Price</th>
<th>Actions</th>

</tr>
<% @foods.each do |food| %>
  <tr class="table-column">
    <td> <%= food.name %> </td>
    <td> <%= food.measurement_unit %> </td>
    <td>$ <%= food.price %>  </td>
    <td> <button class="btn">delete</button>  </td>
  </tr>
<%end%>
</table>

</div>

</div>